<div th:fragment="header">
    <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-md-between py-3 mb-4 border-bottom">
        <a href="/" class="d-flex align-items-center col-md-3 mb-2 mb-md-0 text-dark text-decoration-none">
            <svg class="bi me-2" width="40" height="32" role="img" aria-label="Bootstrap">
                <use xlink:href="#bootstrap"></use>
            </svg>
        </a>

        <ul class="nav col-12 col-md-auto mb-2 justify-content-center mb-md-0">
            <li><a href="/" class="nav-link px-2 link-secondary">Home</a></li>
            <li><a href="/blog" class="nav-link px-2 link-dark">Blog</a></li>
            <li><a href="/blog/add" class="nav-link px-2 link-dark">Добавить статью</a></li>
            <li><a href="/user" class="nav-link px-2 link-dark">User</a></li>
        </ul>

        <div class="d-grid gap-2 d-md-block">
            <a href="/login" class="btn btn-primary" role="button" data-bs-toggle="button">Войти</a>
            <a href="/logout" class="btn btn-primary" role="button" data-bs-toggle="button">Выйти</a>

        </div>
    </div>
</div>